/* Jeu de Mémoire | Début */
#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 10px;
  margin: 30px auto;
  justify-content: center;
}
.card {
  background-color: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  /* Animation */
  transform: rotateY(0deg);
  transition: all 0.5s;
}
.card .card-content {
  opacity: 0;
  transition: all 0.3s;
  min-height: fit-content;
}
.card.flip .card-content {
  opacity: 1;
  max-width: 100%;
}
.card.flip {
  transform: rotateY(180deg);
}
.card.matched {
  border: solid 4px var(--secondary);
  box-sizing: border-box;
  cursor: default;
}

.jeux-title p {
  font-size: 26px;
  font-weight: bold;
  margin: 5px 10px 5px 10px;
}

.jeux-subtitle p {
  font-size: 20px;
  margin: 5px 10px 5px 10px;
}

.jeux-text p {
  font-size: 18px;
  margin: 5px 10px 5px 10px;
}

@media (max-width: 767.98px) {
  #game-board {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    grid-gap: 10px;
    padding: 0 50px 0 50px;
  }

  .jeux-title p {
    font-size: 16px;
    font-weight: 800;
    margin: 5px 10px 5px 10px;
  }

  .jeux-subtitle p {
    font-size: 14px;
    margin: 5px 10px 5px 10px;
  }

  .jeux-text p {
    font-size: 12px;
    font-style: italic;
    margin: 5px 10px 5px 10px;
  }
}
/* Jeu de Mémoire | Fin */
